<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>project</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link font-weight text-uppercase">Services</a></li>
      <li class="nav-item"><a href="" class="nav-link font-weight text-uppercase">Contact</a></li>
    </ul>
  </div>
    </nav>
    <!-- For demo purpose -->
    <section class="py-5 text-white">
    <div class="container py-4">
        <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Bootstrap 4 megamenu</h1>
            <p class="lead mb-0">A very simple way to create Bootstrap 4 megamneu. </p>
            <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class='text-white'><u>Bootstrapious</u></a>. </p>
        </div>
        </div>
        <div class="row pt-5">
        <div class="col-lg-10 mx-auto">
            <p class="lead">Use the default Bootstrap's dropdown menu to hold your megamneu.</p>
            <p class="lead">Set the <code>.dropdown</code> position to <code>static</code> instead of <code>absolute</code>.</p>
            <p class="lead">We use the class <code>.megamenu</code> to hold this <code>static</code> position.</p>
        </div>
        </div>
    </div>
    </section>
    <!-- End -->
</body>
</html>